
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: rgb(101,206,237);
}

.container header{
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 500px;
  border: solid 10px rgb(101,206,237);
  padding: 0px 15px;
}

.container section{
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 500px;
  border: solid 10px rgb(101,206,237);
  padding: 0px 15px;
}

h1, .tagline {
  text-align: center;
}


span.city-description {
  font-size: 13px;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(217, 172, 130);
}

img {
  width:46px;
  height:46px;
  margin: 5px 5px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 75%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: purple;
}

a:hover { 
  color: orange;
}
